<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADV Shop</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container my-2">
        <h3>Welcome</h3>
        <a th:href="@{/product/list}" class="btn btn-primary btn-sm mb-3">See Product List</a>
        <a th:href="@{/car/listCar}" class="btn btn-primary btn-sm mb-3">See Car List</a>
    </div>
</body>
</html>